
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    height: 100vh;
    width: 100%;
    /* background: url("black.jpg") center/cover no-repeat; */
    background-image: url("black.jpg");
}



/* .hero{
    background-image: url("black.jpg");
} */

/* header{
    background-image: url("black.jpg");
} */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    margin-bottom: 2rem;
  }
  
  header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }

  .center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .message {
    color: white;
    font-size: 2rem;
    position: relative;
    animation: slideDown 1s ease-out forwards;
margin-top: 5rem;
margin-bottom: 3rem;
}

.img-container{
padding: 3px;
margin-top: 2.5rem;
}
@keyframes slideDown {
    0% {
        top: -100px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

  #hu{
    color: rgb(108, 108, 198);
    text-decoration: none;
    transition: 0.2s ease;
    font-size: 2.3rem;
    margin-bottom: 5rem;
  }
  .navbar .logo {
    color: #fff;
    font-weight: 600;
    font-size: 2.1rem;
    text-decoration: none;
  }
  
  .navbar .logo span {
    color: black;
  }
  
  .navbar .menu-links {
    display: flex;
    list-style: none;
    gap: 35px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease;
    font-size: 1.2rem;
  }
  
  .navbar a:hover {
    color: rgb(108, 108, 198);
  }
  

.navbar .login-btn {
    border: none;
    outline: none;
    background: #fff;
    color: rgb(108, 108, 198);
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 18px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.15s ease;
}

.navbar .login-btn:hover {
    background: #ddd;
}
